.main-page-header{   
    background-image: linear-gradient(to left, black, $navPrimary ,black);
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5.5rem;
    z-index: 1;
    
    top: 0;
    width: 100%;

    &:hover{
        animation: gradient 5s ease infinite;
    }

    .logo{
        text-decoration: none;
        color: $secondary;
        font-family: sans-serif;
        font-size: 1.3rem;
        padding: 1rem;
        position: relative;
        

        .logoimg{
            height: 50px;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .nav-meny{
        color: #ffffff;
        padding: 1.6rem;
        opacity: 1;
        position: absolute;
        right: 0;
        font-size: 2rem;
        
    }

    .nav-meny:hover{
        color:  $navPrimary;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.2s ease-in-out;
        transform: scale(1.1);
    }

    .navigation-container{
        display: none;
        margin-right: 0;
    }

    .main-navigation{
        display: flex;
        flex-direction: row;
       
       

        .main-navigation__link{
            padding: 1rem;
            color: $primary;
            font-family: sans-serif;
            text-decoration: none;
            
        }
        .main-navigation__link:hover{
            text-decoration: underline 3px;
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
            
            font-family: sans-serif;
            transform: scale(1.1);
            
        }
    }
    
//Media Queries
    /*
        Tablet og oppover
    */
    @media  screen and (min-width: 768px) {

 
        .nav-meny{
            display: none;
            
        }
        
        .navigation-container{
            display: block;

            
            
        }
    }

    @media screen and(max-width:767px){
        .logo{
            position: absolute;
        }

        .navigation-container{
            display: none;
            max-height: 5rem;
            text-align: center;
            
            .main-navigation{               
                position: relative;
                display: flex;
                flex-direction: column;
                margin-top: 5.1rem;
                background-image: linear-gradient(to left, $hamBack,$hamBack);
                width: 760px;
                
                .main-navigation__link{
                    display: flex;
                    flex-direction: row;  
                    text-align: center;                    
                    padding: 2rem;
                    color: white;
                    font-size: 1rem;
                    font-weight: bold;
                    text-decoration: none;
                }
                
                .main-navigation__link:hover, .main-navigation__link:active, .main-navigation__link:focus{
                    background-color: $primary;
                    transition: 0.2s ease-in-out;
                    text-decoration: none;
                    font-family: sans-serif;
                    transform: scale(1.02);
                    
                }
            }
        }

        .nav-meny{
            display: block;
        }
    }
}

//Animation for bakgrunn


@keyframes gradient{
    0%{
      background-position: 100% 100%;
    }50%{
      background-position: 50% 50%;
    }100%{
      background-position: 100% 100%;
    }}