.main-footer{
    
    height: 150px;
    background-image: linear-gradient(to left, black,$navPrimary,black);
    min-width: 360px;
    position: relative;
    bottom: 0;
    

    .footer-text{
        padding: 2rem;
        color: white;
        text-align: left;
    }

    .footer-name{
       
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: x-large;
    }

    

}


//Media Queries
    /*
        Boksen må bli større så tekst ikke faller utenfor når skjermen blir mindre
    */
@media screen and(max-width:760px){
        .main-footer{
            height: 200px;
        }

       
    }