body{
    background-color: black;
}

.main-content{

    min-width: 300px;

    /* Styling for fotball content*/
    .main-content__fotball{
        padding-top: 5.3rem;
        padding-bottom: 1rem;
        background-color: black;
        min-height: 55rem;

        .content-header{
            height: 500px;
            width: 100%;
            background-image: url("/Img/manuvsliverpool2.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            text-align: center;
            margin-top: -20;         
        }

        .players-header{
            background-image: linear-gradient(red, black);

            .content-header__tekst{
                text-align: center;
                color: white;
                font-size: 2.5rem;
                font-weight: bold;
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }

        .fotball-players{
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            max-width: 100%;
            
            /* Styling filter her */
            .fotball-players__label{
                color: white;
                font-size: 2rem;
                font-weight: 200;               
            }

            #player-filter{
                color: black;
                height: 25px;
                
                
            }

            .searchLabel{
                color: #ffffff;
                font-size: 2rem;
                font-weight: 200;
                margin-top: 5rem; 
                margin-left: 1rem;                 
            }

            #search-input {
               height: 25px;   
            }

        }


        /* Styling for spillerne her */
        .players-content{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(360px,4fr));
            margin: 2rem;
            grid-gap: 3rem;
            max-height: max-content; 
            align-items: center;
            justify-items: center;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }

        .player-article{
            margin: 10px;
            padding: 3rem;
            background-image: linear-gradient(#ff0000, #000000);
            text-transform: uppercase;
            text-shadow: 0.4px 0.4px rgb(255, 253, 253);
            border-radius: 55px 55px 0px 0px;
            color: white;
            cursor: pointer;
    
            &:hover{
                transform: scale(1.015);
            }
    
    
            img{
                width: 200px;
                height: 200px;
            }
    
            h3{
                margin-top: 20px;
            }
        }

        .back-players-content{
            margin: 10px;
            padding: 3rem;
            background-image: linear-gradient(black,red);
            text-transform: uppercase;
            text-shadow: 0.4px 0.4px rgb(255, 253, 253);
            border-radius: 0px 0px 55px 55px;
            color: white;
            cursor: pointer;
    
            .click{
                color: red;
            }
        }

        .player-article2{
            margin: 10px;
            padding: 3rem;
            background-image: linear-gradient(#0026ff, #000000);
            text-transform: uppercase;
            text-shadow: 0.4px 0.4px rgb(255, 253, 253);
            border-radius: 55px 55px 0px 0px;
            color: white;
            cursor: pointer;
    
            &:hover{
                transform: scale(1.015);
            }
    
    
            img{
                width: 200px;
                height: 200px;
            }
    
            h3{
                margin-top: 20px;
            }
        }

        .back-players-content2{
            margin: 10px;
            padding: 3rem;
            background-image: linear-gradient(black, #0026ff);
            text-transform: uppercase;
            text-shadow: 0.4px 0.4px rgb(255, 253, 253);
            border-radius: 0px 0px 55px 55px;
            color: white;
            cursor: pointer;
    
            .click{
                color: blue;
            }
        }
            
     
        
        /* Styling for bytte lag knapper her */
        .change-team-container{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            
            #change-team-manu, #change-team-liverpool { 
                font-family: 'Work Sans', sans-serif;
                font-size: 20px;
                background-color: black;
                color: #fff;
                border-color: wheat;
                padding: 20px;
                cursor: pointer;
                margin-bottom: 20px;
                width: 8rem;
                height: 3rem;
                padding-bottom: 2.5rem;
                border-radius: 12px;
                
            }

            #change-team-manu:hover{
                background-image: linear-gradient(to left,red,black,);
                
            }
        
            #change-team-liverpool:hover{
                background-image: linear-gradient(to left,  black,rgb(0, 204, 255));           
            }
        }
    }

    /* styling for content 2 her  */
    .fotball-players2{

        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        
        /* Styling filter her */
        .fotball-players__label2{
            color: white;
            font-size: 2rem;
            font-weight: 200;
            
        }


        #player-filter2{
            color: black;
            height: 25px;
        }

        .searchLabel2{
            color: #ffffff;
            font-size: 2rem;
            font-weight: 200; 
            margin-top: 5rem;
              
        }

        #search-input2 {
           height: 25px;   
        }
    }
}



//Media Queries
    @media screen and(max-width:360px){
        //dummy tekst
    }

    @media screen and(max-width:1100px){
        
            
    } 
    
    

