@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

nav ol, nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-page-header {
  background-image: linear-gradient(to left, black, #852237, black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  /*
      Tablet og oppover
  */
}
.main-page-header .logo {
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1.3rem;
  padding: 1rem;
}
.main-page-header .logo .logoimg {
  height: 50px;
}
.main-page-header .logo .logoimg:hover {
  transform: scale(1.05);
}
.main-page-header .nav-meny {
  color: #ffffff;
  padding: 1.6rem;
  opacity: 1;
  position: absolute;
  right: 0px;
  font-size: 2rem;
}
.main-page-header .nav-meny:hover {
  color: red;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}
.main-page-header .navigation-container {
  display: none;
  margin-right: 0px;
}
.main-page-header .main-navigation {
  display: flex;
  flex-direction: row;
}
.main-page-header .main-navigation .main-navigation__link {
  padding: 2.1rem;
  color: #ffffff;
  font-family: sans-serif;
}
.main-page-header .main-navigation .main-navigation__link:hover {
  color: red;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  transition: 0.2s ease-in-out;
  font-family: sans-serif;
  transform: scale(1.03);
}
@media screen and (min-width: 768px) {
  .main-page-header .nav-meny {
    display: none;
  }
  .main-page-header .navigation-container {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .main-page-header .navigation-container {
    display: none;
    max-height: 5rem;
  }
  .main-page-header .navigation-container .main-navigation {
    display: flex;
    flex-direction: column;
    margin-top: 5.1rem;
    background-image: linear-gradient(to left, #1c1b29, #1c1b29);
  }
  .main-page-header .navigation-container .main-navigation .main-navigation__link {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0rem;
    border: 1px solid #1c1b29;
    color: #ffffff;
  }
  .main-page-header .navigation-container .main-navigation .main-navigation__link:hover {
    color: red;
    background-color: #1c1b2979;
    margin: auto;
    align-items: center;
    list-style: none;
  }
  .main-page-header .nav-meny {
    display: block;
  }
}

article {
  width: 300px;
}
article section {
  height: 450px;
  top: 50%;
  left: 50%;
}
article section img {
  width: 200px;
  top: 50%;
  left: 50%;
}

body {
  background-color: black;
}

.main-content {
  min-width: 360px;
  /* Styling for fotball content*/
  /* styling for content 2 her  */
}
.main-content .main-content__fotball {
  padding-top: 5.3rem;
  padding-bottom: 1rem;
  background-color: black;
  min-height: 55rem;
  /* Styling for spillerne her */
  /* Styling for bytte lag knapper her */
}
.main-content .main-content__fotball .content-header {
  height: 500px;
  width: 100%;
  background-image: url("/Img/manuvsliverpool2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}
.main-content .main-content__fotball .players-header {
  background-image: linear-gradient(red, black);
}
.main-content .main-content__fotball .players-header .content-header__tekst {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-content .main-content__fotball .fotball-players {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* Styling filter her */
}
.main-content .main-content__fotball .fotball-players .fotball-players__label {
  color: white;
  font-size: 2rem;
  font-weight: 200;
}
.main-content .main-content__fotball .fotball-players #player-filter {
  color: black;
  height: 25px;
}
.main-content .main-content__fotball .fotball-players .searchLabel {
  color: #ffffff;
  padding-left: 14rem;
  font-size: 2rem;
  font-weight: 200;
  margin-top: 5rem;
}
.main-content .main-content__fotball .fotball-players #search-input {
  height: 25px;
}
.main-content .main-content__fotball .players-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 4fr));
  margin: auto;
  grid-gap: 3rem;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.main-content .main-content__fotball .player-article {
  margin: 10px;
  padding: 3rem;
  background-image: linear-gradient(#ff0000, #000000);
  text-transform: uppercase;
  text-shadow: 0.4px 0.4px #fffdfd;
  border-radius: 55px 55px 0px 0px;
  color: white;
  cursor: pointer;
}
.main-content .main-content__fotball .player-article:hover {
  transform: scale(1.015);
}
.main-content .main-content__fotball .player-article img {
  width: 200px;
  height: 200px;
}
.main-content .main-content__fotball .player-article h3 {
  margin-top: 20px;
}
.main-content .main-content__fotball .back-players-content {
  margin: 10px;
  padding: 3rem;
  background-image: linear-gradient(black, red);
  text-transform: uppercase;
  text-shadow: 0.4px 0.4px #fffdfd;
  border-radius: 0px 0px 55px 55px;
  color: white;
  cursor: pointer;
}
.main-content .main-content__fotball .back-players-content .click {
  color: red;
}
.main-content .main-content__fotball .player-article2 {
  margin: 10px;
  padding: 3rem;
  background-image: linear-gradient(#0026ff, #000000);
  text-transform: uppercase;
  text-shadow: 0.4px 0.4px #fffdfd;
  border-radius: 55px 55px 0px 0px;
  color: white;
  cursor: pointer;
}
.main-content .main-content__fotball .player-article2:hover {
  transform: scale(1.015);
}
.main-content .main-content__fotball .player-article2 img {
  width: 200px;
  height: 200px;
}
.main-content .main-content__fotball .player-article2 h3 {
  margin-top: 20px;
}
.main-content .main-content__fotball .back-players-content2 {
  margin: 10px;
  padding: 3rem;
  background-image: linear-gradient(black, #0026ff);
  text-transform: uppercase;
  text-shadow: 0.4px 0.4px #fffdfd;
  border-radius: 0px 0px 55px 55px;
  color: white;
  cursor: pointer;
}
.main-content .main-content__fotball .back-players-content2 .click {
  color: blue;
}
.main-content .main-content__fotball .change-team-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-content .main-content__fotball .change-team-container #change-team-manu, .main-content .main-content__fotball .change-team-container #change-team-liverpool {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  background-color: black;
  color: #fff;
  border-color: wheat;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 8rem;
  height: 3rem;
  padding-bottom: 2.5rem;
  border-radius: 12px;
}
.main-content .main-content__fotball .change-team-container #change-team-manu:hover {
  background-image: linear-gradient(to left, red, black);
}
.main-content .main-content__fotball .change-team-container #change-team-liverpool:hover {
  background-image: linear-gradient(to left, black, #00ccff);
}
.main-content .fotball-players2 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* Styling filter her */
}
.main-content .fotball-players2 .fotball-players__label2 {
  color: white;
  font-size: 2rem;
  font-weight: 200;
}
.main-content .fotball-players2 #player-filter2 {
  color: black;
  height: 25px;
}
.main-content .fotball-players2 .searchLabel2 {
  color: #ffffff;
  padding-left: 14rem;
  font-size: 2rem;
  font-weight: 200;
  margin-top: 5rem;
}
.main-content .fotball-players2 #search-input2 {
  height: 25px;
}

.main-footer {
  height: 150px;
  background-image: linear-gradient(to left, black, #852237, black);
  min-width: 360px;
  position: relative;
  bottom: 0;
}
.main-footer .footer-text {
  padding: 2rem;
  color: white;
  text-align: left;
}
.main-footer .footer-name {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
}

/*
    Boksen må bli større så tekst ikke faller utenfor når skjermen blir mindre
*/
@media screen and (max-width: 760px) {
  .main-footer {
    height: 200px;
  }
}
.container {
  display: grid;
  justify-content: center;
  margin-top: 200px;
  color: white;
}
.container .selectedQuiz {
  margin-top: 20px;
}
.container .selectedQuiz:hover {
  transform: scale(1.02);
  transition: 0.5s;
}
.container .quizHeader {
  font-size: xx-large;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  background-image: linear-gradient(to left, black, #852237, black);
  color: #fff;
  margin-top: 20px;
}
.container .question {
  font-size: 30px;
  margin-bottom: 10px;
}
.container .answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.container .answers label {
  display: block;
  margin-bottom: 4px;
}
.container .answers label:hover {
  transform: scale(1.02);
  transition: 0.5s ease;
  box-shadow: 0 0.01rem 0.5rem #08b1ff;
}
.container #unitedBtn, .container #liverpoolBtn {
  font-family: "Work Sans", sans-serif;
  font-size: 16.6px;
  background-color: black;
  color: #fff;
  border-color: wheat;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.container #unitedBtn:hover, .container #liverpoolBtn:hover {
  transform: scale(1.02);
  transition: 0.5s ease;
  font-weight: 500;
  box-shadow: 0 0.01rem 0.5rem white;
}
.container #unitedBtn:hover {
  background-image: linear-gradient(to left, #fc0ad3, black);
}
.container #liverpoolBtn:hover {
  background-image: linear-gradient(to left, black, #00ccff);
}
.container #previous, .container #next, .container #submit {
  font-size: 17.2px;
  background-color: black;
  color: #fff;
  border-color: #fff;
  padding: 20px;
  cursor: pointer;
  margin: 0 0 15px 15px;
}
.container #previous:hover, .container #next:hover, .container #submit:hover {
  transform: scale(1.02);
  transition: 0.5s ease;
}
.container #previous {
  margin-top: 30px;
}
.container #next:hover, .container #submit:hover {
  background-image: linear-gradient(to right, black, black, black, black, black, green);
}
.container #previous:hover {
  background-image: linear-gradient(to right, red, black, black, black, black, black);
}
.container .slide {
  position: absolute;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
  margin: 15px;
}
.container .active-slide {
  opacity: 1;
  z-index: 2;
}
.container .quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.container #unitedArticle {
  display: none;
  border: 2px solid white;
  margin-bottom: 10px;
}
.container #liverpoolArticle {
  display: none;
  border: 2px solid white;
}
.container #unitedArticle:hover, .container #liverpoolArticle:hover {
  box-shadow: 0 0.2rem 0.5rem white;
  transition: 1s;
}
.container .selectedQuiz {
  color: white;
  text-align: center;
  font-size: 22px;
}
.container label {
  border: 2px solid wheat;
  padding: 2px 20px;
}
.container input[type=checkbox] {
  cursor: pointer;
}
.container .question {
  margin-right: 20px;
}

body {
  min-width: 360px;
}/*# sourceMappingURL=main.css.map */