/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

nav ol, nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-page-header {
  background-image: linear-gradient(to left, #1c1b29, #67595E, #1c1b29);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  /*
      Tablet og oppover
  */
}
.main-page-header .logo {
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1.3rem;
  padding: 1rem;
}
.main-page-header .logo .logoimg {
  height: 50px;
}
.main-page-header .logo .logoimg:hover {
  transform: scale(1.05);
}
.main-page-header .nav-meny {
  color: #ffffff;
  padding: 1.6rem;
  opacity: 1;
  position: absolute;
  right: 0px;
  font-size: 2rem;
}
.main-page-header .nav-meny:hover {
  color: #00ffeaf8;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}
.main-page-header .navigation-container {
  display: none;
  margin-right: 0px;
}
.main-page-header .main-navigation {
  display: flex;
  flex-direction: row;
}
.main-page-header .main-navigation .main-navigation__link {
  padding: 2.1rem;
  color: #ffffff;
  font-family: sans-serif;
}
.main-page-header .main-navigation .main-navigation__link:hover {
  color: #00ffeaf8;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  transition: 0.2s ease-in-out;
  font-family: sans-serif;
  transform: scale(1.03);
}
@media screen and (min-width: 768px) {
  .main-page-header .nav-meny {
    display: none;
  }
  .main-page-header .navigation-container {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .main-page-header .navigation-container {
    display: none;
    max-height: 5rem;
  }
  .main-page-header .navigation-container .main-navigation {
    display: flex;
    flex-direction: column;
    margin-top: 5.1rem;
    background-image: linear-gradient(to left, #1c1b29, #1c1b29);
  }
  .main-page-header .navigation-container .main-navigation .main-navigation__link {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0rem;
    border: 1px solid #1c1b29;
    color: #ffffff;
  }
  .main-page-header .navigation-container .main-navigation .main-navigation__link:hover {
    color: #00ffeaf8;
    background-color: #1c1b2979;
    margin: auto;
    align-items: center;
  }
  .main-page-header .nav-meny {
    display: block;
  }
}

article {
  width: 300px;
}
article section {
  height: 450px;
  top: 50%;
  left: 50%;
}
article section img {
  width: 200px;
  top: 50%;
  left: 50%;
}

body {
  background-color: grey;
}

.main-content {
  min-width: 360px;
  /* Styling for fotball content*/
  /* styling for content 2 her  */
}
.main-content .main-content__fotball {
  padding-top: 5.3rem;
  padding-bottom: 1rem;
  background-color: gray;
  /* Styling for spillerne her */
}
.main-content .main-content__fotball .content-header {
  height: 200px;
  width: 100%;
  background: #ce7a7a;
  position: relative;
  text-align: center;
}
.main-content .main-content__fotball .content-header .content-header__tekst {
  font-size: xx-large;
  font-weight: bold;
  padding-top: 85px;
  padding-bottom: 83px;
}
.main-content .main-content__fotball .fotball-players {
  /* Styling filter her */
}
.main-content .main-content__fotball .fotball-players .fotball-players__label {
  color: green;
}
.main-content .main-content__fotball .fotball-players .player-filter {
  color: green;
}
.main-content .main-content__fotball .players-content {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 200px;
  margin-top: 50px;
  /* dummy tekst */
}
.main-content .main-content__2 p {
  color: green;
}
.main-content .player-article {
  margin: 10px;
  padding: 3rem;
  background-color: red;
}

.main-footer {
  background-color: #67595E;
  min-width: 360px;
  position: fixed;
  bottom: 0;
}
.main-footer .footer-text {
  padding: 2rem;
  color: white;
  text-align: left;
}
.main-footer .footer-name {
  padding-bottom: 3rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
}

body {
  min-width: 360px;
}/*# sourceMappingURL=main.css.map */